{{outlet}}
<h1>Houston... we have {{financial-state remainingMonthly}} </h1>
<br />

<h4 class='budgetLabel'>Income: </h4> {{input value=(mut (get model 'monthlyIncome'))}} <br />
<h4 class='budgetLabel'>Debt: </h4> {{input value=(mut (get model 'monthlyDebt'))}} <br />
<h4 class='budgetLabel'>Savings: </h4> {{input value=(mut (get model 'monthlySaving'))}} <br />
<br />
<h3>Space Money: {{remainingMonthly}} </h3>
