<div class='container'>
  <div class='row'>
    <div class='.col-md-8'>
      <h1 class='large-screen-only'>Houston... we {{financial-state remainingMonthly}} </h1>
    </div>
  </div>
  <form>
    <fieldset class='form-group'>
      <label for='income'>Income</label>
      {{input class='form-control' value=(mut (get model 'monthlyIncome'))}}
    </fieldset>
    <fieldset class='form-group'>
      <label for='income'>Debt</label>
      {{input class='form-control' value=(mut (get model 'monthlyDebt'))}}
    </fieldset>
    <fieldset class='form-group'>
      <label for='income'>Saving</label>
      {{input class='form-control' value=(mut (get model 'monthlySaving'))}}
    </fieldset>
    <fieldset class='form-group'>
      <label for='income'>Rent/Mortgage</label>
      {{input class='form-control' value=(mut (get model 'monthlyRent'))}}
    </fieldset>
    <fieldset class='form-group'>
      <label for='income'>Bills</label>
      {{input class='form-control' value=(mut (get model 'monthlyBills'))}}
    </fieldset>
    <br />
  </form>


  <h3>Space (free to spend) money: {{duration-splitter budget=remainingMonthly}} </h3>
</div>

