{{outlet}}
<h1>Houston... we have {{financial-state remainingMonthly}} </h1>
<br />

<h3>Income: {{model.monthlyIncome}}</h3>
<h3>Debt: {{model.monthlyDebt}}</h3>
<h3>Saving: {{model.monthlySaving}}</h3>
<br />
<h3>Space Money: {{remainingMonthly}} </h3>
