<div class='container'>
  <div class='row'>
    <div class='.col-md-8'>
      <h1 class='large-screen-only'>Houston... we {{financial-state remainingMonthly}} </h1>
    </div>
  </div>
  <form>
    <h6 class='budgetInfo'>(all values should be monthly)</h6>
    <fieldset class='form-group'>
      <label class='incomeLabel' for='income'>Income</label>
      {{input class='form-control' value=(mut (get model 'monthlyIncome'))}}
    </fieldset>
    <fieldset class='form-group'>
      <label class='expenseLabel' for='income'>Debt</label>
      {{input class='form-control' value=(mut (get model 'monthlyDebt'))}}
    </fieldset>
    <fieldset class='form-group'>
      <label class='expenseLabel' for='income'>Saving/Investment Contribution</label>
      {{input class='form-control' value=(mut (get model 'monthlySaving'))}}
    </fieldset>
    <fieldset class='form-group'>
      <label class='expenseLabel' for='income'>Rent/Mortgage</label>
      {{input class='form-control' value=(mut (get model 'monthlyRent'))}}
    </fieldset>
    <fieldset class='form-group'>
      <label class='expenseLabel' for='income'>Bills</label>
      {{input class='form-control' value=(mut (get model 'monthlyBills'))}}
    </fieldset>
    <br />
  </form>


  <h3>Free-to-spend money: {{duration-splitter budget=remainingMonthly}} </h3>
  <button {{action 'save'}} class='btn btn-primary btn-lg'>Save Changes</button>
</div>

